---
import { getSession } from 'auth-astro/server';
import OauthLayer from './oauthLayer.astro';
import AuthUser from './authUser.astro';

const  session = await getSession(Astro.request);
---

<html lang="en">
<head>
<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>AstroAuthLuciaDB</title>
</head>
<body class="h-screen w-screen flex justify-center place-items-center  bg-gray-950">

{ session ? <OauthLayer/> : <AuthUser/> }
</body>
</html>